<!-- sidebar component -->
<ul id="slide-out" class="side-nav fixed z-depth-2 hoverable">
    <li class="logo center"><a href="/" class="brand-logo">Logo Title</a></li>
    <li><div class="divider logo-bottom"></div></li>
    <li><a class="waves-effect waves-light" href="/seminars">Seminar</a></li>
    <li><a class="waves-effect waves-light" href="/members">Members</a></li>
      <li><a class="waves-effect waves-light" href="/tags">Tags</a></li>
      <li><a class="waves-effect waves-light" href="/chart">Chart</a></li>
    <li><a class="waves-effect waves-light" href="/help">Help</a></li>
  </ul>
    <a id="sidebar_btn" href="#" data-activates="slide-out" class="btn btn-floating button-collapse orange darken-3"><i class="material-icons">menu</i></a>