           <div class="col s6">
          <div class="card amber darken-4 hoverable">
          <a class="btn-floating right waves-effect waves-light edit-btn orange lighten-1"><i class="material-icons">edit</i></a>
            <div class="card-content white-text">
              <span class="card-title">Card Title</span>
              <div class="row seminar-contents">
               <div class="col s6 seminar-dataList">
                <p class="seminar-data"><span class="data">Category : </span><span>Programming</span></p>
                <p class="seminar-data"><span class="data">Type : </span>HandsOn</p>
                 <p  class="seminar-data"><span class="data">Target : </span>anyone</p>
                 <p  class="seminar-data"><span class="data">Date : </span>everyday</p>
                  
                 <div  class="seminar-explain">
                <p class="data">text:</p>
                <p>I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.</p>
                </div>
                   </div>
                <div class="col s6  seminar-dataList tags">
                <p class="seminar-data"><span class="data">Planner : </span><span>planner name</span></p>
                 <p class="seminar-data"><span class="data">Update : </span><span>2017/11/01</span></p>
                 <p  class="seminar-data"><span class="data">Member : </span><span>3</span><span> / 5</span></p>
                   <div class="seminar-tags">
                    <span class="data">Tags : </span><div class="chip">Java</div><div class="chip">Java9</div><div class="chip">Jigsaw</div><div class="chip">Maven</div>
                <div class="chip">Eclipse</div><div class="chip">Spring</div>
               </div>
                </div>
              </div>
            </div>
            <div class="card-action right-align">
              <a href="#" class="waves-effect waves-light btn orange lighten-1">Join</a>
            </div>
          </div> 
          </div>